###Answer1

In [2]:
ans=[]
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        ans.append(i)
print(ans)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

##Answer2

In [3]:
n=int(input())
ans=1
for i in range(1,n+1):
    ans=ans*i
print(ans)

40320

##Answer3

In [4]:
d={}
n=int(input())
for i in range(1,n+1):
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

##Answer4

In [3]:
n=list(map(int,input().split(',')))
print(n,tuple(n))

[1, 2, 3] (1, 2, 3)

##Answer5

In [4]:
class P:
    def __init__(self):
        self.s=""
    def getString(self):
        self.s=input()
    def printString(self):
        print(self.s)
p=P()
p.getString()
p.printString()

ritik

##Answer6

In [11]:
c=50
h=30
d=list(map(int,input().split(',')))
ans=[]
for i in d:
    q=int(((2*c*i)/h)**0.5)
    ans.append(q)
print(ans)

[18, 22, 24]

##Answer 7

In [7]:
m,n=map(int,input().split(','))
ans=[]
for i in range(0,m):
    temp=[]
    for j in range(0,n):
        temp.append(i*j)
    ans.append(temp)
print(ans)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

##Answer 8

In [8]:
k=list(input().split(','))
k.sort()
print(k)

['bag', 'jh', 'zek']


##Answer 9

In [12]:
k=list(input().split(','))
for i in range(0,len(k)):
    k[i]=k[i].upper()
print(k)

['BAH', 'KK']

##Answer 10

In [21]:
k=list(input().split(' '))
k=set(k)
k=sorted(k)
for i in k:
    print(i,end=" ")

again and hello makes perfect practice world

##Asnwer 11

In [23]:
k=list(input().split(','))
ans=[]
for i in k:
    x=int(i,2)
    if x%5==0:
        ans.append(i)
print(ans)

['1010']

##Answer 12

In [5]:
ans=[]
def check(x):
    n=x
    s=1
    while(n>0):
        d=n%10
        if d%2!=0:
            s=0
            break
    
        n=int(n//10)
    if s==1:
        return 1
    else:
        return 0
for i in range(1000,3001):
    if(check(i)):
        ans.append(i)
print(ans)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

##Answer 13

In [6]:
l=0
d=0
s=input()
for i in s:
    if i.isdigit():
        d+=1;
    elif i.isalnum():
        l+=1
print("digits: ",d)
print('letters: ',l)

digits:  3
letters:  10

##Answer 14

In [7]:
l=0
u=0
s=input()
for i in s:
    if i.islower():
        l+=1;
    elif i.isupper():
        u+=1
print("lower: ",l)
print('upper: ',u)

lower:  8
upper:  2

##Answer 15

In [9]:
a=input()
ans=0
for i in range(1,5):
    x=a*i
    x=int(x)
    ans+=x
print(ans)

11106

##Answer 16

In [11]:
l=list(map(int,input().split(',')))
ans=[i*i for i in l if i%2!=0]
print(ans)

[1, 9, 25]

##Answer 17

In [12]:
ans=0
while True:
    d=input()
    if d=="":
        break
    else:
        c,a=d.split(" ")
        if c.upper()=='D':
            ans+=int(a)
        else:
            ans-=int(a)
print(ans)

10

##Answer 18

In [15]:
import re
s=input()
reg = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!#%*?&]{6,20}$"
pat = re.compile(reg)
      
    # searching regex                 
mat = re.search(pat, s)
      
if mat:
     print("Password is valid.")
else:
    print("Password invalid !!")

Password is valid.

##Answer 19

In [19]:
l=[]
while True:
    s=input()
    if s=="":
        break
    else:
        l.append(tuple(s.split(',')))
print(sorted(l))

[('sws', '1221', '21'), ('tom', '16', '18')]

##Answer 20

In [20]:
class t:
    def __init__(self,n):
        self.n=n
    def g(self):
        for i in range(0,self.n):
            if i%7==0:
                yield i
n=int(input())
T=t(n)
for i in T.g():
    print(i)

0
7
14
21
28
35
42
49
56
63

##Answer 21

In [25]:
x=0
y=0
while True:
    s=input()
    if s=="":
        break
    else:
        m,n=s.split(" ")
        if m.upper()=="UP":
            x+=int(n)
        elif m.upper()=="DOWN":
            x-=int(n)
        elif m.upper()=="LEFT":
            y-=int(n)
        else:
            y+=int(n)
ans=int(((x**2)+(y**2))**0.5)
print(ans)

2

##ANswer 22

In [28]:
d={}
s=list(input().split(" "))
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'dog': 2, 'you': 1}

##Answer 23

In [31]:
def square(n):
    ans=0
    for i in range(1,n+1):
        ans+=n
    return ans
square(9)

81

##Answer 24

In [40]:
print(abs.__doc__)
print(int.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

##Answer 25

In [41]:
class g:
    k=1
    def __init__(self,n):
        self.n=n

##Answer 26

In [42]:
def sum(n,m):
    return n+m
print(sum(2,3))

5

##Answer 27

In [44]:
def con(n):
    n=str(n)
    print(n)
n=int(input())
con(n)

23

##Answer 28

In [45]:
def sum(n,m):
    n=int(n)
    m=int(m)
    return n+m
n=input()
m=input()
print(sum(n,m))

50

##Answer 29

In [46]:
def concat(m,n):
    print(m+n)
n=input()
m=input()
concat(n,m)

riri

##Answer 30

In [47]:
def cc(m,n):
    if len(m)>len(n):
        print(m)
    elif len(n)>len(m):
        print(n)
    else:
        print(m)
        print(n)
m=input()
n=input()
cc(m,n)

agarwal

##Answer 31

In [50]:
def dic():
    d={}
    for i in range(1,21):
        d[i]=i**2
    print(d)
dic()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

##Answer 32

In [52]:
def dic():
    d={}
    for i in range(1,21):
        d[i]=i**2
    for i,k in d.items():
        print(i,end=" ")
        
dic()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

##Answer 33

In [54]:
l=[]
def sq():
    for i in range(1,21):
        l.append(i**2)
sq()
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

##Answer 34

In [55]:
l=[]
def sq():
    for i in range(1,21):
        l.append(i**2)
    print(l[:5])
sq()

[1, 4, 9, 16, 25]

##Answer 35

In [62]:
l=[]
def sq():
    for i in range(1,21):
        l.append(i**2)
    print(l[-5:])
sq()

[256, 289, 324, 361, 400]

##Answer 36

In [64]:
l=[]
def sq():
    for i in range(1,21):
        l.append(i**2)
    print(l[-1:4:-1])
sq()

[400, 361, 324, 289, 256, 225, 196, 169, 144, 121, 100, 81, 64, 49, 36]

##Answer 37

In [68]:
l=[]
def sq():
    for i in range(1,21):
        l.append(i**2)

    print(tuple(l))
sq()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

##Answer 38

In [72]:
t=(1,2,3,4,5,6,7,8,9,10)
for i in range(0,len(t)//2):
    print(t[i],end=" ")
print()
for i in range(len(t)//2,len(t)):
    print(t[i],end=" ")

1 2 3 4 5
6 7 8 9 10

##Answer 39

In [74]:
l=[]
t=(1,2,3,4,5,6,7,8,9,10)
for i in t:
    if i%2==0:
        l.append(i)
l=tuple(l)
print(l)

(2, 4, 6, 8, 10)

##Answer 40

In [76]:
s=input()
if s.upper()=="YES":
    print("Yes")
else:
    print("No")

Yes

##Anwer 41

In [84]:
l=[1,2,3,4,5,6,7,8,9,10]
y=map(lambda x:x*x,l)
print(list(y))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Answer 42

In [85]:
l=[1,2,3,4,5,6,7,8,9,10]
ans=map(lambda x:x**2, filter(lambda x:x%2==0,l))
print(list(ans))

[4, 16, 36, 64, 100]

##Answer 43

In [89]:
l=[i for i in range(1,21)]
a=filter(lambda x:x%2==0,l)
print(list(a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

##Answer 44

In [91]:
l=[i for i in range(1,21)]
a=map(lambda x:x**2,l)
print(list(a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

##Answer 45

In [92]:
class American:
    @staticmethod
    def printNationality():
        print("India")
American.printNationality()

India


##Answer 46

In [93]:
class America:
    pass
class NewYorker(America):
    pass

##Answer 47

In [97]:
class Circle:
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        print(self.radius*self.radius)
c=Circle(2)
c.area()

4

##Answer 48

In [98]:
class Rectangle:
    def __init__(self,l,b):
        self.l=l
        self.b=b
    def area(self):
        print(self.l*self.b)
c=Rectangle(2,3)
c.area()

6

##Answer 49

In [100]:
class Shape:
    def area():
        print("0")
class Square(Shape):
    def __init__(self,n):
        self.n=n
    def area(self):
        print(self.n**2)
s=Square(3)
s.area()

9

##Answer 50

In [101]:
s=int(input())
try:
    if s!=0:
        print("ok")
    else:
        raise RuntimeError("cant divide by zero")
except RuntimeError as r:
    print(r)

cant divide by zero

##Answer 51

In [102]:
def compute():
    try:
        a=5/0
    except Exception as e:
        print(e)
compute()

division by zero

##Answer 52

In [110]:
class custom(Exception):
    def __init__(Self,n):
        super().__init__(n)

try:
    m=input()
    raise custom(m)
except Exception as e:
    print(e)

swsw

##Answer 53